<p>
  <b>Link:</b>
  <%=h @visor.link %>
</p>

<p>
  <b>Blank:</b>
  <%=h @visor.blank %>
</p>

<p>
  <b>Order:</b>
  <%=h @visor.order %>
</p>


<%= link_to 'Edit', edit_visor_path(@visor) %> |
<%= link_to 'Back', visores_path %>