<p>
  <b>Link:</b>
  <%=h @pagina_especial_banner.link %>
</p>

<p>
  <b>Blank:</b>
  <%=h @pagina_especial_banner.blank %>
</p>

<p>
  <b>Ordem:</b>
  <%=h @pagina_especial_banner.ordem %>
</p>

<p>
  <b>Imagem file name:</b>
  <%=h @pagina_especial_banner.imagem_file_name %>
</p>

<p>
  <b>Imagem content type:</b>
  <%=h @pagina_especial_banner.imagem_content_type %>
</p>

<p>
  <b>Imagem file size:</b>
  <%=h @pagina_especial_banner.imagem_file_size %>
</p>

<p>
  <b>Imagem updated at:</b>
  <%=h @pagina_especial_banner.imagem_updated_at %>
</p>


<%= link_to 'Edit', edit_pagina_especial_banner_path(@pagina_especial_banner) %> |
<%= link_to 'Back', pagina_especial_banners_path %>