<% form_for(@genero) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :icone %><br />
    <%= f.text_field :icone %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>