<div class="centraliza">
  <div id="espetaculo">
    <div id="center_left">
      <p class="titulo">Perguntas Frequentes</p>
  	  <p class="help_titulo">Confira aqui algumas dúvidas frequentes dos usuários COMPREINGRESSOS.COM clicando nos links abaixo.</p>
      
      <% if session[:admin_id] %>
        <%= link_to 'Novo FAQ', new_faq_path %>
      <% end %>
      
      <div id="servicos_left">
        <% for servico in @faqs %>
        <h2><a href="<%=url_for servico%>"><%=servico.titulo%></a></h2>
        <p class="help_text italico"><%=servico.subtitulo%></p>
        
        <% if session[:admin_id] %>
        <p><%= link_to image_tag('/admin/botao_editar.png', :alt => 'Editar', :title => 'Editar'), edit_faq_path(servico) %>&nbsp;
          <%= link_to image_tag('/admin/botao_excluir.png', :alt => 'Apagar', :title => 'Apagar'), servico, :confirm => 'Deseja realmente excluir?', :method => :delete %></p>
        <% end %>
        
        <% end %>
      </div>          
    </div>
    <div id="center_right">
    </div>
  </div>
</div>