<div class="centraliza">
<div id="espetaculo">
  <div id="center_left">
    <p class="titulo">Perguntas Frequentes</p>
  	<p class="help_titulo">Confira aqui algumas dúvidas frequentes dos usuários COMPREINGRESSOS.COM clicando nos links abaixo.</p>
    
    <% if session[:admin_id] %>
      <%= link_to 'Novo FAQ', new_faq_path %>
    <% end %>
    
    <div id="servicos_left">
      <% for servico in @faqs %>
      <h2><a href="<%=url_for servico%>"<%=servico.id==@faq.id ? 'class="ativo"':''%>><%=servico.titulo%></a></h2>
      <p class="help_text italico"><%=servico.subtitulo%></p>
      
      <% if session[:admin_id] %>
      <p><%= link_to image_tag('/admin/botao_editar.png', :alt => 'Editar', :title => 'Editar'), edit_faq_path(servico) %>&nbsp;
        <%= link_to image_tag('/admin/botao_excluir.png', :alt => 'Apagar', :title => 'Apagar'), servico, :confirm => 'Deseja realmente excluir?', :method => :delete %></p>
      <% end %>
      
      <% end %>
    </div>          
  </div>
  <div id="center_right">
    <div id="contato">
      <h1><%=@faq.titulo%></h1>
      <p class="help_text"><%=@faq.subtitulo%></p>
    </div>
    <div id="servicos">
      <p><%=nl2br @faq.texto%></p>
    </div>
    <div id="fotos">
      <% for foto in @faq.imagems %>
      <div class="foto">
        <a href="<%=url_for(:controller => :imagems, :action => :show, :id => foto)+".jpg"%>" class="top_up" toptions="group = faq <%=@faq.id%>, title= <%=@faq.titulo%> - <%=foto.legenda%>, overlayClose = 1, shaded = 1">
          <img src="<%=url_for(:controller => :imagems, :action => :destaque , :id => foto)%>" alt="<%=foto.legenda%>" title="<%=foto.legenda%>">
        </a>
        <p><%=foto.legenda%></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>