<p>
  <b>Titulo:</b>
  <%=h @home_modulo.titulo %>
</p>

<p>
  <b>Entrada:</b>
  <%=h @home_modulo.entrada %>
</p>

<p>
  <b>Saida:</b>
  <%=h @home_modulo.saida %>
</p>


<%= link_to 'Edit', edit_home_modulo_path(@home_modulo) %> |
<%= link_to 'Back', home_modulos_path %>