<p>
  <b>Home modulo:</b>
  <%=h @home_modulo_espetaculo.home_modulo %>
</p>

<p>
  <b>Espetaculo:</b>
  <%=h @home_modulo_espetaculo.espetaculo %>
</p>

<p>
  <b>Ordem:</b>
  <%=h @home_modulo_espetaculo.ordem %>
</p>


<%= link_to 'Edit', edit_home_modulo_espetaculo_path(@home_modulo_espetaculo) %> |
<%= link_to 'Back', home_modulo_espetaculos_path %>