<p>
  <b>Nome:</b>
  <%=h @publicidade.nome %>
</p>

<p>
  <b>Tempo de exibicao:</b>
  <%=h @publicidade.tempo_de_exibicao %>
</p>

<p>
  <b>Link:</b>
  <%=h @publicidade.link %>
</p>

<p>
  <b>Blank:</b>
  <%=h @publicidade.blank %>
</p>

<p>
  <b>Ordem:</b>
  <%=h @publicidade.ordem %>
</p>

<p>
  <b>Imagem file name:</b>
  <%=h @publicidade.imagem_file_name %>
</p>

<p>
  <b>Imagem content type:</b>
  <%=h @publicidade.imagem_content_type %>
</p>

<p>
  <b>Imagem file size:</b>
  <%=h @publicidade.imagem_file_size %>
</p>

<p>
  <b>Imagem updated at:</b>
  <%=h @publicidade.imagem_updated_at %>
</p>

<p>
  <b>Status:</b>
  <%=h @publicidade.status %>
</p>

<p>
  <b>Data inicio:</b>
  <%=h @publicidade.data_inicio %>
</p>

<p>
  <b>Data fim:</b>
  <%=h @publicidade.data_fim %>
</p>


<%= link_to 'Edit', edit_publicidade_path(@publicidade) %> |
<%= link_to 'Back', publicidades_path %>