<div class="centraliza">
  <div id="espetaculo">
  	<div id="center_left">
  		<p class="titulo">Serviços</p>
  		<p class="help_titulo">Para ficar sabendo mais sobre os serviços oferecidos, clique nos links abaixo.</p>
  		
  		<% if session[:admin_id] %>
  			<%= link_to 'Novo serviço', new_servico_path %>
  		<% end %>
  		
  		<div id="servicos_left">
  			<% for servico in @servicos %>
  			<h2><a href="<%=url_for servico%>"<%=servico.id == @servico.id ? " class='ativo'" : ""%>><%=servico.titulo%></a></h2>
  			<p class="help_text italico"><%=servico.subtitulo%></p>
  			
  			<% if session[:admin_id] %>
  			<p><%= link_to image_tag('/admin/botao_editar.png', :alt => 'Editar', :title => 'Editar'), edit_servico_path(servico) %>&nbsp;
      		<%= link_to image_tag('/admin/botao_excluir.png', :alt => 'Apagar', :title => 'Apagar'), servico, :confirm => 'Deseja realmente excluir?', :method => :delete %></p>
  			<% end %>
  			
  			<% end %>
  		</div>					
  	</div>
  	<div id="center_right">
  		<div id="contato">
  			<h1><%=@servico.titulo%></h1>
  			<p class="help_text"><%=@servico.subtitulo%></p>
  		</div>
  		<div id="servicos">
  			<p><%=nl2br @servico.texto%></p>
  		</div>
  		<div id="fotos">
  		  <% for foto in @servico.imagems %>
  		  <div class="foto">
  		    <a href="/cache/<%=foto.id%>.jpg" class="top_up" toptions="group = servico <%=@servico.id%>, title= <%=@servico.titulo%> - <%=foto.legenda%>, overlayClose = 1, shaded = 1">
            	<img src="/cache/<%=foto.id%>_thumb.jpg" alt="<%=foto.legenda%>" title="<%=foto.legenda%>">
          </a>
          <p><%=foto.legenda%></p>
  		  </div>
  		  <% end %>
      </div>
  	</div>
  </div>
</div>