<p>
  <b>Nome:</b>
  <%=h @classificacao.nome %>
</p>

<p>
  <b>Texto:</b>
  <%=h @classificacao.texto %>
</p>

<p>
  <b>Icone:</b>
  <%=h @classificacao.icone %>
</p>


<%= link_to 'Edit', edit_classificacao_path(@classificacao) %> |
<%= link_to 'Back', classificacaos_path %>