<p>
  <b>Conjunto Cidade:</b>
  <%=h @conjunto_cidade_visor.cidade %>
</p>

<p>
  <b>Link:</b>
  <%=h @conjunto_cidade_visor.link %>
</p>

<p>
  <b>Blank:</b>
  <%=h @conjunto_cidade_visor.blank %>
</p>

<p>
  <b>Ordem:</b>
  <%=h @conjunto_cidade_visor.ordem %>
</p>


<%= link_to 'Edit', edit_conjunto_cidade_visor_path(@conjunto_cidade_visor) %> |
<%= link_to 'Back', conjunto_cidade_visores_path %>