<p>
  <b>Titulo:</b>
  <%=h @video.titulo %>
</p>

<p>
  <b>Legenda:</b>
  <%=h @video.legenda %>
</p>

<p>
  <b>Youtube:</b>
  <%=h @video.youtube_id %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>