<p>
  <b>Link:</b>
  <%=h @banner_fixo.link %>
</p>

<p>
  <b>Blank:</b>
  <%=h @banner_fixo.blank %>
</p>

<p>
  <b>Order:</b>
  <%=h @banner_fixo.order %>
</p>


<%= link_to 'Edit', edit_visor_path(@banner_fixo) %> |
<%= link_to 'Back', banner_fixos_path %>