<% cache("home") do -%>
<% if !session[:desktop] or session[:desktop]==0 -%>
<script>
  mobileRedirect();
</script>
<% end -%>
<div id="home">
  <div class="background_personalizado">
    <div class="centraliza">
      <div id="home_inferior">
        <% @home_modulos.each do |home_modulo| %>
          <% if home_modulo.tipo==1 or home_modulo.tipo==2 %>
            <div class="modulo<%= home_modulo.tipo==1 ? ' um':' dois' %>"<%= home_modulo.tipo==1 ? '':' data-ss-colspan="2"' %>>
              <a name="modulo_<%= home_modulo.id %>"></a>
              <h1><%=nl2br home_modulo.titulo %></h1>
              <div class="espetaculos masonry js-masonry" data-masonry-options='{ "columnWidth":1 }'>
                <% i = 1 %>
                <% home_modulo.home_modulo_espetaculos.each do |me| %>
                  <% if (i <= home_modulo.exibir) and (me.espetaculo.ativo == true) %>
                    <div class="card">
                      <a href="<%=url_for me.espetaculo%><%=!@completaurl.nil? ? '?'+@completaurl : ''%>">
                        <% image = me.espetaculo.img_miniatura.url(:miniatura) %>
                        <%= image_tag image, :height => me.espetaculo.img_miniatura_height %>
                        <h3><%=me.espetaculo.nome%></h3>
                        <% if !home_modulo.ocultar_teatro %>
                          <p class="teatro"><%=me.espetaculo.teatro.nome%></p>
                        <% end %>
                        <% if !home_modulo.ocultar_cidade %>
                          <p class="cidade"><%=me.espetaculo.cidade.nome%> - <%=me.espetaculo.cidade.estado%></p>
                        <% end %>
                        <% if !home_modulo.ocultar_genero %>
                          <p class="genero"><%=me.espetaculo.genero.nome%></p>
                        <% end %>
                        <% dataatual = DateTime.now.in_time_zone.-3.hours %>
                        <div class="over">
                          <% if me.espetaculo.proximo_horario %>
                            <% logger.info "\n" + me.espetaculo.data_inicial_de_venda.to_s %>
                            <p class="linha1">Próxima apresentação</p>
                            <p class="linha2"><%= me.espetaculo.proximo_horario.data==Date.today ? 'Hoje' : l(me.espetaculo.proximo_horario.data, :format => :weekday) %></p>
                            <p class="linha3"><%= l me.espetaculo.proximo_horario.data, :format => :short %></p>                            
                            <% logger.info "\n" + me.espetaculo.especificar_data_inicial_de_venda.to_s %>
                            <% if me.espetaculo.especificar_data_inicial_de_venda %>
                              <a href="<%=url_for me.espetaculo%>" class="botao <%= (me.espetaculo.data_inicial_de_venda > dataatual) ? 'saiba_mais':'comprar'%>"></a>
                            <% else %>
                              <a href="<%=url_for me.espetaculo%>" class="botao <%= me.espetaculo.cc_id.blank?  ? 'saiba_mais':'comprar'%>"></a>
                            <% end %>
                            <% else %>
                            <% logger.info "\n" + me.espetaculo.data_inicial_de_venda.to_s %>
                            <% if me.espetaculo.especificar_data_inicial_de_venda %>
                              <a href="<%=url_for me.espetaculo%>" class="botao <%= (me.espetaculo.data_inicial_de_venda > dataatual) ? 'saiba_mais semdata':'comprar semdata'%>"></a>
                            <% else %>
                              <a href="<%=url_for me.espetaculo%>" class="botao <%= (me.espetaculo.cc_id.blank? or me.espetaculo.proximo_horario.blank?) ? 'saiba_mais semdata':'comprar semdata'%>"></a>
                            <% end %>
                          <% end %>
                        </div>
                      </a>
                    </div>
                    <% i = i+1 %>
                  <% end %>
                <% end %>
              </div>
              <div class="separador">...</div>
            </div>
          <% else %>
            <div class="modulo<%= home_modulo.tipo==3 ? ' um':' dois banner_home' %>"<%= home_modulo.tipo==3 ? '':' data-ss-colspan="2"' %>">
              <div class="container" style="height:<%= home_modulo.imagem_altura %>px;<%= home_modulo.topo ? 'margin-top:32px;position:relative;':'' %>">
              <div class="card_banner">
                <a href="<%=(home_modulo.blank==true ? 'http://':'')+home_modulo.link%>" target="<%=home_modulo.blank==true ? '_blank':'_self'%>">
                  <%= image_tag home_modulo.imagem.url, :height => home_modulo.imagem_altura %>
                </a>
                <div class="over">
                  <%=link_to '', home_modulo.link, :class => 'botao saiba_mais'%>
                </div>
              </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function($){
  $container = $('#home_inferior');
  $container.shapeshift({
    enableDrag: false,
    enableResize: false,
    align: "left",
    minColumns: 3,
    gutterY: 20
  });
  setTimeout("$container.trigger('ss-rearrange')",1000);
});
</script>
<script type="text/javascript">
  $(function() {
    // Over dos espetaculos
    $('.espetaculos .card').each(function(){
      $(this).hoverdir();
    });
    
    // Over dos banners
    $('.modulo .card_banner').hover(
      function(){
        $(this).children('div.over').fadeIn(200);
      },
      function(){
        $(this).children('div.over').fadeOut(200);
      }
    );
    
    // Posiciona botao de saiba mais no meio do banner
    $('.modulo .card_banner div.over a').each(function(){
      var tover = $(this).parent().parent().height();
      var marginsm = (tover-(104/2))/2;
      $(this).css("margin",marginsm+"px 0px");
    });
  });
</script>
<% if Dir.glob("#{RAILS_ROOT}/public/images/home_bg/*").first -%>
<style>
  div.background_personalizado{
    background:transparent url('/images/home_bg/bg<%= File.extname(Dir.glob("#{RAILS_ROOT}/public/images/home_bg/*").first) %>') center top no-repeat;
    background-color:<%= HomeBackground.find(1).bgcolor %>;
  }
  div.modulo h1, div.modulo div.separador{
    color:<%= HomeBackground.find(1).cor_de_texto%>;
  }
</style>
<% elsif HomeBackground.find(1) %>
<style>
  div.background_personalizado{
    background-color:<%= HomeBackground.find(1).bgcolor %>;
  }
  div.modulo h1, div.modulo div.separador{
    color:<%= HomeBackground.find(1).cor_de_texto%>;
  }
</style>
<% end -%>
<%
  @hb = HomeBackground.find(1)
  if !@hb.esquerda_link.blank? or !@hb.direita_link.blank?
%>
  <script type='text/javascript'>
    backgroundClick('<%=@hb.esquerda_link%>',<%=@hb.esquerda_blank%>,'<%=@hb.direita_link%>',<%=@hb.direita_blank%>);
  </script>
<% end -%>
<% end -%>