<p>
  <b>Cidade:</b>
  <%=h @cidade_visor.cidade %>
</p>

<p>
  <b>Link:</b>
  <%=h @cidade_visor.link %>
</p>

<p>
  <b>Target:</b>
  <%=h @cidade_visor.target %>
</p>

<p>
  <b>Ordem:</b>
  <%=h @cidade_visor.ordem %>
</p>


<%= link_to 'Edit', edit_cidade_visor_path(@cidade_visor) %> |
<%= link_to 'Back', cidade_visores_path %>