<p>
  <b>Link:</b>
  <%=h @pagina_especial_visor.link %>
</p>

<p>
  <b>Blank:</b>
  <%=h @pagina_especial_visor.blank %>
</p>

<p>
  <b>Ordem:</b>
  <%=h @pagina_especial_visor.ordem %>
</p>

<p>
  <b>Imagem file name:</b>
  <%=h @pagina_especial_visor.imagem_file_name %>
</p>

<p>
  <b>Imagem content type:</b>
  <%=h @pagina_especial_visor.imagem_content_type %>
</p>

<p>
  <b>Imagem file size:</b>
  <%=h @pagina_especial_visor.imagem_file_size %>
</p>

<p>
  <b>Imagem updated at:</b>
  <%=h @pagina_especial_visor.imagem_updated_at %>
</p>


<%= link_to 'Edit', edit_pagina_especial_visor_path(@pagina_especial_visor) %> |
<%= link_to 'Back', pagina_especial_visores_path %>