<h1>New galeria</h1>

<% form_for(@galeria) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :legenda %><br />
    <%= f.text_field :legenda %>
  </p>
  <p>
    <%= f.label :espetaculo %><br />
    <%= f.text_field :espetaculo %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', galerias_path %>