<style type="text/css">
  div#background_holder{
    background-image:url('<%= @espetaculo.fundo.url %>') !important;
    background-color:<%= @espetaculo.cor_de_fundo %> !important;
    background-repeat:no-repeat !important;
  }
  #pai div#background_holder div.centraliza{
    margin-top:<%= @espetaculo.altura_de_inicio-72 %>px;
  }
  #pai #espetaculo h1, #pai #espetaculo div.cont_teatro p.teatro_info, #pai #espetaculo div.cont_teatro p.teatro, #pai #espetaculo div.container_mini_topo span, #pai div#espetaculo div#iframe p.saiba_mais_aviso{
    color:<%=@espetaculo.cor_do_texto_do_cabecalho%>;
  }
  #pai #espetaculo #overlay h1, #pai #espetaculo #overlay div.cont_teatro p.teatro_info, #pai #espetaculo #overlay div.cont_teatro p.teatro, #pai #espetaculo #overlay div.container_mini_topo span, #pai #overlay div#espetaculo div#iframe p.saiba_mais_aviso{
    text-shadow:0 0 2px #FFF;
  }
  #pai #espetaculo div.cont_teatro a, #pai #espetaculo div.container_mini_topo a{
    color:<%=@espetaculo.cor_do_link_do_cabecalho%>;
  }
  #pai #espetaculo div.cont_teatro a:hover, #pai #espetaculo div.container_mini_topo a:hover{
    background:<%=@espetaculo.cor_do_link_do_cabecalho%>;
    color:<%= @espetaculo.cor_de_fundo %>;
  }
  #pai #espetaculo div.detalhes_espetaculo.especial div.container, #pai #espetaculo div.detalhes_espetaculo.especial div#sinopse{
    background-color:<%=@espetaculo.cor_de_fundo_do_box%>;
    border-color:<%=@espetaculo.cor_da_borda_do_box%>;
  }
  #pai #espetaculo div.detalhes_espetaculo.especial div#sinopse p, #pai #espetaculo div.detalhes_espetaculo.especial div.container p, #pai #espetaculo div.detalhes_espetaculo.especial div.container h2{
    color:<%=@espetaculo.cor_do_texto_do_box%>;
  }
  #pai #espetaculo div.detalhes_espetaculo.especial div#sinopse p a, #pai #espetaculo div.detalhes_espetaculo.especial div.container a{
    color:<%=@espetaculo.cor_do_link_do_box%>;
  }
  #pai #espetaculo div.detalhes_espetaculo.especial div#sinopse p a:hover, #pai #espetaculo div.detalhes_espetaculo.especial div.container a:hover, #pai #espetaculo div.detalhes_espetaculo div.container p.googlemaps a:hover{
    background:<%=@espetaculo.cor_do_link_do_box%>;
    color:<%= @espetaculo.cor_de_fundo %>;
  }
  #pai #espetaculo div.detalhes_espetaculo.especial div#fotos .container_foto{
    border-color:<%=@espetaculo.cor_da_borda_das_imagens%>;
  }
  @media only screen and (max-width:640px){
    #pai div#background_holder div.centraliza{
      margin-top:<%= @espetaculo.altura_de_inicio_mobile %>px;
    }
  }
  .link_site{
    text-align: center;
    color:<%=@espetaculo.cor_do_texto_do_cabecalho%>;
  }
  .link_site a{
    color:<%=@espetaculo.cor_do_link_do_box%>;
  }
  .link_site a:hover{
    background:<%=@espetaculo.cor_do_link_do_cabecalho%>;
    color:<%= @espetaculo.cor_de_fundo %>;
  }
  <% if @noheaderfooter %>
  #pai div#menu_topo div.bottom div.container_busca{
    margin:0;
    float:right;
    <% if @tt -%>
    width:<%=@tt%>px;
    <% end -%>
  }
  #pai div#menu_topo{
    height:70px;
  }
  #pai div#menu_topo div.container_mini_cabecalho{
    top:0;
    background:<%=@pagina_especial.cor_do_header%>;
  }
  #pai div#menu_topo div.container_mini_cabecalho.linha{
    border-bottom-color:<%=@pagina_especial.cor_da_borda_do_header%>;
  }
  #pai div.menu_busca{
    background:<%=@pagina_especial.cor_do_header%>;
  }
  #pai div#busca div.container.buscar{
    width:<%=@tt==598 ? '598px':'auto'%>;
  }
  #pai div#busca div.container.buscar input{
    width:<%=@tt==598 ? '515':'285'%>px;
  }
  #pai div.menu_busca{
    top:70px;
  }
  <% end %>
  
  <% if @espetaculo.id==5598 %>
  div.midias_sociais a.addthis_button_facebook{
	background-image:url('../images/ico_share_facebook_white.png');
  }
  div.midias_sociais a.addthis_button_twitter{
	background-image:url('../images/ico_share_twitter_white.png');
  }
  div.midias_sociais a.addthis_button_email{
	background-image:url('../images/ico_share_email_white.png');
  }
  <% end %>
</style>
<% if !session[:desktop] or session[:desktop]==0 -%>
<script>
  /*var divisorMd = 5.8;
  var divisorParams = [["div#pai div#background_holder div.centraliza","margin-top"]];
  mobileDivisor(divisorMd,divisorParams);*/
</script>
<% end -%>
<div id="espetaculo" class="especial_mobile">
  <div class="container_selo_itaucard">
    <% if pagina_selecionada?(@espetaculo, @espetaculo.pagina_especiais.find(:first, :conditions => {:id => 1})) -%>
      <% if !@pagina_especial or @pagina_especial.tipo!=2 %>
      <img src="/images/selo_itaucard.png" />
      <% end %>
    <% end -%>
  </div>
	<div class="centraliza">
	  <a name="cabecalho" id="ancora_cabecalho"></a>
  	<div class="container_mini_topo">
  	  <% if @pagina_especial %>
        <span class="origem"><a href="/<%=@pagina_especial.url%>">Voltar para <%=@pagina_especial.nome%></a></span>
      <% end %>
      <% if @pacote %>
        <span class="origem"><a href="/<%=@pacote.url%>/assinaturas">Voltar para <%=@pacote.nome%></a></span>
      <% end %>
      <% if @pagina_especial and @pagina_especial.tipo==2 %>
        <span class="genero"><%= @espetaculo.genero.nome %></span>
      <% else %>
        <span class="genero"><%= link_to @espetaculo.genero.nome, "/espetaculos?cidade=&genero=#{@espetaculo.genero.nome}" %></span>
      <% end %>
      <span class="classificacao"><%=@espetaculo.classificacao.nome%></span>
      <% if !@espetaculo.duracao.blank? %>
      <span class="duracao"><%=@espetaculo.duracao%></span>
      <% end %>
      <span class="preco"><%=@espetaculo.preco%></span>
  	</div>
    <h1><%=nl2br @espetaculo.nome %></h1>
    <div class="cont_teatro">
      <% if @pagina_especial and @pagina_especial.tipo==2 %>
        <p class="teatro"><%=nl2br @espetaculo.teatro.nome%></p>
        <p class="teatro_info"><%=@espetaculo.teatro.bairro%> - <%=@espetaculo.teatro.cidade.nome%> - <%=@espetaculo.teatro.cidade.estado%></p>
      <% else %>
        <p class="teatro"><%=link_to nl2br(@espetaculo.teatro.nome), @espetaculo.teatro%></p>
        <p class="teatro_info"><%=@espetaculo.teatro.bairro%> - <%=link_to @espetaculo.teatro.cidade.nome, "/espetaculos?cidade=#{@espetaculo.teatro.cidade.nome}&genero="%> - <%=@espetaculo.teatro.cidade.estado%></p>
      <% end %>
  	</div>
    <% if @espetaculo.site != "" or !@espetaculo.site.blank? %>
    <div class="link_site">Informações complementares: <%=link_to @espetaculo.site, "http://"+@espetaculo.site, :target => "__blank"%></div>
  	<% end %>
    <div id="iframe">
      <% if @pagina_especial and @pagina_especial.tipo_de_botao==2 %>
        <% if !@pagina_especial.saiba_mais_aviso.blank? %>
          <p class="saiba_mais_aviso"><%= @pagina_especial.saiba_mais_aviso %></p>
        <% end %>
      <% elsif @espetaculo.cc_id and (!@espetaculo.especificar_data_inicial_de_venda or (@espetaculo.especificar_data_inicial_de_venda and @espetaculo.data_inicial_de_venda<=DateTime.now.in_time_zone-3.hours)) %>
        <% @espetaculo.horarios_disponiveis.each_with_index do |a,i| %>
          <% if i<3 or @espetaculo.horarios_disponiveis.size==4 %>
            <a href="<%= ENVIRONMENT_VARS['host_compra'] %>/comprar/etapa1.php?apresentacao=<%=a.id_apresentacao%>&eventoDS=<%=@espetaculo.nome.parameterize%><%=preserv_params %>" class="botao data">
              <span class="data">
                <span class="numero"><%= l a.data, :format => :dia %></span>
                <span class="mes"><%= l a.data, :format => :mes_curto %></span>
              </span>
              <span class="dia_hora"><%= l a.data, :format => :diahoraiframe %></span>
              <span class="comprar">comprar</span>
            </a>
          <% end %>
        <% end %>
        <% if @espetaculo.horarios_disponiveis.size>=5 %>
          <a href="#datas" class="botao todasdatas"></a>
        <% end %>
      <% elsif !@espetaculo.cc_id and @errocc %> 
        <p class="saiba_mais_aviso"><%= @errocc %></p>
      <% elsif @espetaculo.id == 4589 %>
        <% imed = Intensivamedcontador.find(1) %>
        <% if imed.total <= 300 %>
          <!-- INICIO FORMULARIO BOTAO PAGSEGURO-->
          <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
          <input type="hidden" name="code" value="D24E14330303D3D994C1BF98F2250FE1" />
          <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-comprar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" style="border:0;"/>
          </form>
          <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
        <% end %>
      <% end %>
    </div>
  	
  	<div class="botoes_sessoes <%= Espetaculo::BOTOES[@espetaculo.cor_dos_botoes][0].downcase %>">
      <a class="botao<%= !@espetaculo.sinopse.blank? ? '':' desativo' %> sinopse<%= @espetaculo.aba_inicial==1 ? ' ativo':'' %>">Sinopse</a>
      <a class="botao<%= @espetaculo.galerias.size>0 ? '':' desativo' %> fotos<%= @espetaculo.aba_inicial==3 ? ' ativo':'' %>">Fotos</a>
      <a class="botao<%= @espetaculo.videos.size>0 ? '':' desativo' %> videos<%= @espetaculo.aba_inicial==4 ? ' ativo':'' %>">Videos</a>
      <a class="botao informacoes<%= @espetaculo.aba_inicial==2 ? ' ativo':'' %>">Informações</a>
  	</div>
  	
  	<div class="detalhes_espetaculo especial">
  	  <div class="cont_detalhes_espt_especial">
  	  <div class="cont" id="informacoes">
        <div class="container g">
          <h2>Endereço</h2>
          <p class="teatro">
            <%=@espetaculo.teatro.endereco%><br />
            <%=@espetaculo.teatro.bairro%> - <%=@espetaculo.teatro.cidade.nome%> - <%=@espetaculo.teatro.cidade.estado%>
          </p>
          <p class="googlemaps">
            <a href="http://maps.google.com/maps?f=q&source=s_q&hl=es&geocode=&q=<%=@espetaculo.teatro.endereco%>, <%=@espetaculo.teatro.bairro%> - <%=@espetaculo.teatro.cidade.nome%> - <%=@espetaculo.teatro.cidade.estado%>&ie=UTF8&z=15&t=m&iwloc=near&output=embed" target="_blank">ver google maps</a>
          </p>

          <% #if [4718,4729,4727].include?(@espetaculo.id) %>
        </div>
        
        <div class="container g">
          <h2>Temporada</h2>
        <p class="temp_descricao"><%=@espetaculo.horario if !@espetaculo.horario.blank? %></p>
          <p class="temp_data"><%=@temporada%></p>
        </div>
        
        <% if !@espetaculo.preco.blank? -%>
        <div class="container g">
          <h2>Ingressos</h2>
          <p><%=@espetaculo.preco%></p>
        </div>
        <% end -%>
        
        <% if pagina_selecionada?(@espetaculo, @espetaculo.pagina_especiais.find(:first, :conditions => {:id => 1})) -%>
        <% 
          mariah_carey = [7230, 7231, 7233]
          if !mariah_carey.include? @espetaculo.id
        %>
        <div class="container g">
          <h2>Promoção Itaucard</h2>
          <p class="desconto">50% de desconto para clientes Itaucard.<br /><br />Promoção pessoal e intransferível para o titular do cartão na compra de um ingresso inteiro. Válido somente para 1 apresentação do espetáculo, mediante pagamento com cartões participantes da promoção.</p>
        </div>
        <% end -%>
        <% end -%>
        
        <% if !@espetaculo.desconto.blank? -%>
        <div class="container g">
          <h2>Descontos</h2>
          <p class="desconto"><%=nl2br @espetaculo.desconto%></p>
        </div>
        <% end -%>
        
        <% for entrada in @espetaculo.entradas -%>
          <div class="container <%=entrada.pequeno ? 'p':'g'%>">
            <h2><%=entrada.atributo%></h2>
            <p><%=nl2br entrada.valor%></p>
          </div>
        <% end -%>
      </div>
      
      <div class="cont" id="sinopse"<%= !@espetaculo.sinopse.blank? ? '':' class="desativo"' %>>
        <p><%=nl2br @espetaculo.sinopse%></p>
        <p class="sinopse_aviso">*Sinopse sob total responsabilidade da produção do evento.</p>
      </div>
      
      <div class="cont" id="videos"<%= @espetaculo.videos.size>0 ? '':' class="desativo"' %>>
        <% for video in @espetaculo.videos %>
          <iframe id="video_player" width="787" height="433" style="margin-bottom:20px;" src="//www.youtube-nocookie.com/embed/<%=video.youtube_id%>?rel=0&enablejsapi=1&version=3&playerapiid=ytplayer"  frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe>
        <% end %>
      </div>
      
      <div class="cont" id="fotos"<%= @espetaculo.galerias.size>0 ? '':' class="desativo"' %>>
        <% for galeria in @espetaculo.galerias %>
          <div class="container_foto<%=cycle '',' right'%>">
            <img src="<%= galeria.imagem.url(:big) %>" alt="<%=galeria.respond_to?('title') ? galeria.title : '' %>" />
          </div>
        <% end %>
      </div>
      </div>
      
      <div id="overlay">
        <div class="centraliza">
          <div class="top">
            <div class="fechar"></div>
            <div class="container_mini_topo">
              <span class="genero"><%= link_to @espetaculo.genero.nome, "/espetaculos?cidade=&genero=#{@espetaculo.genero.nome}" %></span>
              <span class="classificacao"><%=@espetaculo.classificacao.nome%></span>
              <% if !@espetaculo.duracao.blank? %>
              <span class="duracao"><%=@espetaculo.duracao%></span>
              <% end %>
            </div>
            <h1><%=@espetaculo.nome%></h1>
            <div class="cont_teatro">
              <p class="teatro"><%=nl2br @espetaculo.teatro.nome%></p>
              <p class="teatro_info"><%=@espetaculo.teatro.bairro%> - <%= link_to @espetaculo.teatro.cidade.nome, "/espetaculos?cidade=#{@espetaculo.teatro.cidade.nome}&genero="%> - <%=@espetaculo.teatro.cidade.estado%></p>
            </div>
          </div>
          
          <div class="informacoes">
            <% if @espetaculo.videos.size>0 %>
              <div class="container_overlay">
                <div class="icone video"></div>
                <% for video in @espetaculo.videos %>
                  <div class="container_iframe_video">
                    <iframe width="820" height="461" src="//www.youtube-nocookie.com/embed/<%=video.youtube_id%>?rel=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                <% end %>
              </div>
            <% end %>
      
            <% if @espetaculo.galerias.size>0 %>
              <div class="container_overlay">
                <div class="icone fotos"></div>
                
                <div class="slideshow-container">
                  <div class="loading" class="loader"></div>
                  <div class="slideshow" class="slideshow"></div>
                </div>
                <div class="thumbs_container">
                  <ul class="thumbs noscript">
                    <% for galeria in @espetaculo.galerias %>
                      <li>
                          <a class="thumb" href="<%= galeria.imagem.url(:big) %>" title="<%=galeria.respond_to?('title') ? galeria.title : ''%>">
                              <img src="<%= galeria.imagem.url(:thumb) %>" alt="<%=galeria.respond_to?('title') ? galeria.title : ''%>" />
                          </a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            
            <% if !@espetaculo.sinopse.blank? %>
              <div class ="container_overlay">
                <div class="icone sinopse"></div>
                <p><%=nl2br @espetaculo.sinopse%></p>
              </div>
            <% end %>
          </div>
          
          <% if @espetaculo.cc_id %>
            <div class="datas">
              <% @espetaculo.horarios_disponiveis.each do |a| %>
                <a href="<%= ENVIRONMENT_VARS['host_compra'] %>/comprar/etapa1.php?apresentacao=<%=a.id_apresentacao%>&eventoDS=<%=@espetaculo.nome.parameterize%><%=preserv_params %>" class="botao data">
                  <span class="data">
                    <span class="numero"><%= l a.data, :format => :dia %></span>
                    <span class="mes"><%= l a.data, :format => :mes_curto %></span>
                  </span>
                  <span class="dia_hora"><%= l a.data, :format => :diahoraiframe %></span>
                  <span class="comprar">comprar</span>
                </a>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  	</div>
  	<script type="text/javascript">
  	  if(<%=@espetaculo.aba_inicial%>!=0){
        $('div.detalhes_espetaculo.especial').css('height',$('div.detalhes_espetaculo.especial div#<%= Espetaculo::ABAS[@espetaculo.aba_inicial][0].downcase %>').outerHeight());
        $('div.detalhes_espetaculo.especial div#<%= Espetaculo::ABAS[@espetaculo.aba_inicial][0].downcase %>').show();
        $(window).resize(function(){
          $('div.detalhes_espetaculo.especial').css('height',$('div.detalhes_espetaculo.especial div#<%= Espetaculo::ABAS[@espetaculo.aba_inicial][0].downcase %>').outerHeight());
          $('div.detalhes_espetaculo.especial div#<%= Espetaculo::ABAS[@espetaculo.aba_inicial][0].downcase %>').show();
        });
      }
  	</script>
    <% if !@noheaderfooter %>
    <div class="midias_sociais">
      <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_email"></a>
      </div>
      <script type="text/javascript">var addthis_config = {ui_language:"pt"}</script>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4c8561805a96e24d"></script>
    </div>
    <script type="text/javascript">
      <% if pagina_selecionada?(@espetaculo, @espetaculo.pagina_especiais.find(:first, :conditions => {:id => 1})) -%>
        midiasSociais(70);
      <% else -%>
        midiasSociais(20);
      <% end -%>
    </script>
    <% end %>
  </div>
</div>
<% if @espetaculo.id == 4043 %><img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/936059195/?value=0&amp;guid=ON&amp;script=0"/><% end %>