<p>
  <b>Atendente:</b>
  <%=h @ocorrencia.atendente_id %>
</p>

<p>
  <b>Adquiridos:</b>
  <%=h @ocorrencia.adquiridos %>
</p>

<p>
  <b>Data compra:</b>
  <%=h @ocorrencia.data_compra %>
</p>

<p>
  <b>Numero pedido:</b>
  <%=h @ocorrencia.numero_pedido %>
</p>

<p>
  <b>Nome:</b>
  <%=h @ocorrencia.nome %>
</p>

<p>
  <b>Email:</b>
  <%=h @ocorrencia.email %>
</p>

<p>
  <b>Espetaculo:</b>
  <%=h @ocorrencia.espetaculo.nome %>
</p>

<p>
  <b>Data ingressos:</b>
  <%=h @ocorrencia.data_ingressos %>
</p>

<p>
  <b>Horario:</b>
  <%=h @ocorrencia.horario %>
</p>

<p>
  <b>Lugares:</b>
  <%=h @ocorrencia.lugares %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @ocorrencia.telefone %>
</p>

<p>
  <b>Tipo solicitacao:</b>
  <%=h @ocorrencia.tipo_solicitacao %>
</p>

<p>
  <b>Protocolo cancelamento:</b>
  <%=h @ocorrencia.protocolo_cancelamento %>
</p>

<p>
  <b>Inteira:</b>
  <%=h @ocorrencia.inteira %>
</p>

<p>
  <b>Meia:</b>
  <%=h @ocorrencia.meia %>
</p>

<p>
  <b>Outros:</b>
  <%=h @ocorrencia.outros %>
</p>

<p>
  <b>Obs:</b>
  <%=h @ocorrencia.obs %>
</p>

<p>
  <b>Concordancia:</b>
  <%=h @ocorrencia.concordancia %>
</p>


<%= link_to 'Edit', edit_ocorrencia_path(@ocorrencia) %> |
<%= link_to 'Back', ocorrencias_path %>