<% form_for(@pontodevenda) do |f| %>
  <%= f.error_messages %>
  <p>
	<%= f.label :estado_id, "Estado: "%><br />
	<%= f.select :estado_id, Estado.all.collect {|e| [ e.nome, e.id ] } %><br />
  </p>
  <p>
    <%= f.label :local %><br />
    <%= f.text_field :local %>
  </p>
  <p>
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.label :funcionamento %><br />
    <%= f.text_field :funcionamento %>
  </p>
  <p>
    <%= f.label :forma_de_pagamento %><br />
    <%= f.text_field :forma_de_pagamento %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>