<% link = (card_sem_auxiliar.link_do_redirecionamento.nil? or card_sem_auxiliar.link_do_redirecionamento.empty?) ? "#{url_for card_sem_auxiliar}" : "#{card_sem_auxiliar.link_do_redirecionamento}" -%>
<% blank = card_sem_auxiliar.blank_de_link_do_redirecionamento ? " target='_blank'" : "" -%>
<% image = (File.exist? card_sem_auxiliar.img_miniatura.url(:miniatura)) ? card_sem_auxiliar.img_miniatura.url(:miniatura) : "/images/espetaculos/padrao/miniatura.jpg" %>
<div class="card">
  <a href="<%=link %>"<%= blank %>>
    <img src="<%=image %>" height="<%= card_sem_auxiliar.img_miniatura_height %>">
    <h3><%=card_sem_auxiliar.nome%></h3>
  </a>
  	<p class="teatro"><%=(!card_sem_auxiliar.teatro.nil?) ? card_sem_auxiliar.teatro.nome : "" %></p>
  	<p class="cidade"><%=(!card_sem_auxiliar.cidade.nil?) ? card_sem_auxiliar.cidade.nome : "" %> - <%=(!card_sem_auxiliar.cidade.nil?) ? card_sem_auxiliar.cidade.estado : ""%></p>
  	<p class="genero"><%=(!card_sem_auxiliar.genero.nil?) ? card_sem_auxiliar.genero.nome : "" %></p>
	<div class="over">
    <% if card_sem_auxiliar.proximo_horario -%>
      <p class="linha1">Próxima apresentação</p>
      <p class="linha2"><%= card_sem_auxiliar.proximo_horario.data==Date.today ? 'Hoje':l(card_sem_auxiliar.proximo_horario.data, :format => :weekday)%></p>
      <p class="linha3"><%= l card_sem_auxiliar.proximo_horario.data, :format => :short %></p>
      
      <% if !card_sem_auxiliar.especificar_data_inicial_de_venda -%>
        <% if card_sem_auxiliar.cc_id -%>
          <a href="<%=link %>"<%= blank %> class="botao comprar"></a>
        <% else -%>
          <a href="<%=link %>"<%= blank %> class="botao saiba_mais"></a>
        <% end -%>
      <% else -%>
        <% if card_sem_auxiliar.cc_id and card_sem_auxiliar.data_inicial_de_venda<=DateTime.now -%>
          <a href="<%=link %>"<%= blank %> class="botao comprar"></a>
        <% else -%>
          <a href="<%=link %>"<%= blank %> class="botao saiba_mais"></a>
        <% end -%>
      <% end -%>
      
    <% else -%>
      <a href="<%=link %>"<%= blank %> class="botao saiba_mais semdata"></a>
    <% end -%>
	</div>
</div>