<% link = (card_com_auxiliar.link_do_redirecionamento.nil? or card_com_auxiliar.link_do_redirecionamento.empty?) ? "#{url_for card_com_auxiliar}" : "#{card_com_auxiliar.link_do_redirecionamento}" -%>
<% blank = card_com_auxiliar.blank_de_link_do_redirecionamento ? " target='_blank'" : "" -%>
<div class="card">
  <a href="<%=link %>?origem=<%=auxiliar.url%><%=preserv_params %>"<%= blank %>>
    <img src="<%= card_com_auxiliar.img_miniatura.url(:miniatura) %>" height="<%= card_com_auxiliar.img_miniatura_height %>">
    <h3><%=card_com_auxiliar.nome%></h3>
  </a>
    <% if !auxiliar.ocultar_teatro -%>
      <p class="teatro"><%=card_com_auxiliar.teatro.nome%></p>
    <% end -%>
    <% if !auxiliar.ocultar_cidade -%>
      <p class="cidade"><%=card_com_auxiliar.cidade.nome%> - <%=card_com_auxiliar.cidade.estado%></p>
    <% end -%>
    <% if !auxiliar.ocultar_genero -%>
      <p class="genero"><%=card_com_auxiliar.genero.nome%></p>
    <% end -%>
  <div class="over">
    <% if card_com_auxiliar.proximo_horario -%>
      <% if auxiliar.url!='pracadasartes' -%>
        <p class="linha1">Próxima apresentação</p>
        <p class="linha2"><%= card_com_auxiliar.proximo_horario.data==Date.today ? 'Hoje':l(card_com_auxiliar.proximo_horario.data, :format => :weekday)%></p>
        <p class="linha3"><%= l card_com_auxiliar.proximo_horario.data, :format => :short %></p>
      <% end -%>
      
      <% if !card_com_auxiliar.especificar_data_inicial_de_venda -%>
        <% if card_com_auxiliar.cc_id and auxiliar.tipo_de_botao==1 -%>
          <a href="<%=link %><%= '?origem='+auxiliar.url %><%=preserv_params %>" class="botao comprar" <%= blank %>></a>
        <% else -%>
          <a href="<%=link %><%= '?origem='+auxiliar.url %><%=preserv_params %>" class="botao saiba_mais" <%= blank %>></a>
        <% end -%>
      <% else -%>
        <% if card_com_auxiliar.cc_id and card_com_auxiliar.data_inicial_de_venda<=DateTime.now and auxiliar.tipo_de_botao==1 -%>
          <a href="<%=link %><%= '?origem='+auxiliar.url %><%=preserv_params %>" class="botao comprar" <%= blank %>></a>
        <% else -%>
          <a href="<%=link %><%= '?origem='+auxiliar.url %><%=preserv_params %>" class="botao saiba_mais"<%= blank %>></a>
        <% end -%>
      <% end -%>      
      
    <% else -%>
      <a href="<%=link %><%= '?origem='+auxiliar.url %><%=preserv_params %>" class="botao saiba_mais semdata"<%= blank %>></a>
    <% end -%>
  </div>
</div>