<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <%= "<meta name='robots' content='noindex, nofollow'>" if Rails.env!="production" -%>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  	<meta name="author" content="Faro Estúdio - www.faroestudio.com.br" />
  	<meta name="description" content="<%=@description%>"/>
  	<meta name="keywords" content="<%=@keywords%>"/>
  	<link href="/favicon.ico" rel="shortcut icon"/>
  	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,200italic,300,600,200' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="/stylesheets/ci.css"/>
    <link rel="stylesheet" href="/stylesheets/adm.css"/>
  	<title><%= @title.blank? ? "COMPREINGRESSOS.COM - Gestão de bilheteria e venda de ingressos para teatros e casas de show" : @title+" - COMPREINGRESSOS.COM"%></title>
  	<%= javascript_include_tag 'jquery.2.0.0.min.js', 'jquery-ui.1.10.3.min.js', 'jquery.touch-punch.min', 'jquery.shapeshift.min.js', 'masonry.pkgd.min.js', 'faro.js' -%>
    <script type="text/javascript">
      var mobileversion = 0;
    </script>
  </head>
  <body>
    <div id="guia_espetaculos"></div>
	  <div id="menu_topo">
      <div class="centraliza">
        <div class="bottom">
          <a href="/" class="logo"></a>
        </div>
      </div>
    </div>
  	<div id="background_holder">
      <div id="content_container">
  			<%= render :partial => 'layouts/admin_menu' %>
  			<%= yield %>
  		</div>
  	</div>
  	<%= render :partial => 'layouts/footer' %>
    </body>
</html>
