<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <%= "<meta name='robots' content='noindex, nofollow'>" if Rails.env!="production" -%>
    <style>
        .baixe_app
        {
            background:#FFF url('/images/baixe_app.jpg') center top no-repeat;
            background-size:100% auto;
            width:100%;
            height:2000px;
            left:0;
            top:0;
            position:absolute;
            z-index:9999;
            cursor:pointer;
            display:<%= @baixeapp.blank? ? 'none':'block'%>
      }
      .baixe_app_close
      {
            color:#930606;
            font-size:24px;
            line-height:30px;
            font-weight:bold;
            width:30px;
            height:30px;
            position:absolute;
            top:5px;
            right:5px;
            font-family:Verdana;
            text-align:center;
            background-color:#FFF;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            cursor:pointer;
      }
      .baixe_app_close.navegar{
        background-color:transparent;
        width:120px;
        height:22px;
        position:absolute;
        top:564px;
        right:128px;
      }
<% if !@baixeapp.blank? -%>
      body{
        overflow:hidden;
      }
<% end -%>
    </style>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%=@description%>"/>
    <meta name="keywords" content="<%=@keywords%>"/>
    <link href="/favicon.ico" rel="shortcut icon"/>
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css"> -->

    <link href='/stylesheets/font-source-sans-pro.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/ci.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/icons/socicon/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/icons/flaticon1/flaticon.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ciSlider/default.css">

    <% if (!session[:desktop] or session[:desktop]==0) and @paginaapp.blank? -%>
      <link rel="stylesheet" href="/stylesheets/cimobile.css"/>
      <script type="text/javascript">
        var mobileversion = 1;
      </script>
      <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5"/>
    <% else %>
      <script type="text/javascript">
        var mobileversion = 0;
      </script>
    <% end -%>
  	<meta property="og:title" content="<%= @title.blank? ? "COMPREINGRESSOS.COM - Gestão de bilheteria e venda de ingressos para teatros e casas de show" : @title %>"/>
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:site_name" content="COMPREINGRESSOS.COM"/>
  	<%= "<meta property='og:image' content='#{@imagem}'/>" if @imagem %>
  	<title><%= @title.blank? ? "COMPREINGRESSOS.COM - Gestão de bilheteria e venda de ingressos para teatros e casas de show" : @title+" - COMPREINGRESSOS.COM"%></title>
    <%= javascript_include_tag 'jquery-1.11.3.min.js', 'jquery-ui.1.10.3.min.js', 'jquery.touch-punch.min', 'jquery.mobile-1.4.5.min.js', 'jquery.shapeshift.min.js', 'masonry.pkgd.min.js', 'faro.js', 'modernizr.custom.97074.js', 'jquery.hoverdir.js', 'jquery-easing-1.3.js', 'jquery-transit-modified.js', 'jquery.galleriffic.js', 'idangerous_swiper_min.js' -%>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16656615-1']);
      _gaq.push(['_setDomainName', 'compreingressos.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script>
      var _prum = [['id', '538476e8abe53d6576aef7e2'],
      ['mark', 'firstbyte', (new Date()).getTime()]];
      (function()
      { var s = document.getElementsByTagName('script')[0] , p = document.createElement('script'); p.async = 'async'; p.src = '//rum-static.pingdom.net/prum.min.js'; s.parentNode.insertBefore(p, s); }
      )();
    </script>
    <% if request.fullpath == "/itaucardteatro" or request.fullpath == "/itaucardshows" %>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '810467559012473');
      fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=810467559012473&ev=PageView&noscript=1"/></noscript>
    <!-- End Facebook Pixel Code -->
    <% end %>
    <script type="text/javascript" src="/javascripts/ciSlider/cislider.js"></script>
  </head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/nova_home.css">
  <body>
      <div id="novo_menu">
        <div class="centraliza">
          <div class="banner_1">banner 1</div>  
          <div class="itens">
              <div class="primeira">
                <div class="logo">
                  <a href="/">
                    <img src="../images/menu_logo.png">
                  </a>
                </div>
              </div>
              <div class="meio">
                <div class="div_header">
                  <ul class="opcoes">
                    <li><a href="https://compra.compreingressos.com/comprar/minha_conta.php">Minha Conta</a></li>
                    <li><a href="/espetaculos">Todos os Espetáculos</a></li>
                    <li><a href="/teatros">Teatros e Casas de Show</a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
                <div class="bottom">
                  <div id="btnbuscaCidade" class="local container geral cidade">
                    <div class="icone flaticon-placeholder-for-map"></div>
                    <div class="txt">
                      <span>Cidade</span>
                      <span>Escolha sua cidade</span>
                    </div>
                  </div>
                  <div id="btnbuscaGenero" class="container geral genero">
                    <div class="icone flaticon-office-list"></div>
                    <div class="txt">
                      <span>Genero</span>
                      <span>genero preferido</span>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="fim">
                <div class="div_header">
                  <span class="flaticon-star"></span>
                  <span class="btn">área exclusiva ASSINANTE A</span>
                </div>

                <div class="bottom">
                    <div class="search">
                      <form method="get" action="/espetaculos/busca">
                          <span class="flaticon-magnifier" onclick="buscaEspetaculos();"></span>
                          <input type="submit" id="busca-espetaculos" class="ls-tn" />
                          <span><input name="busca" type="text" placeholder="Espetáculo, diretor, teatro, elenco"></input></span>
                      </form>
                    </div>
                    <div class="icones">
                        <div class="icone_social">
                          <a href="http://www.facebook.com/compreingressos" target="_blank"></a>
                          <span class="socicon-facebook"></span>
                        </div>
                        <div class="icone_social">
                            <a href="https://www.instagram.com/compreingressos" target="_blank"></a>
                            <span class="socicon-instagram"></span>
                        </div>
                    </div>
                </div>
              </div>
              <div class="cleaner"></div>
          </div>
        </div>
      <!-- </div> continua novo menu para inserir box de cidades e generos dentro dele -->
    <% if !@noheaderfooter -%>

<% cache("menu") do %>
<%
  cid = Cidade.find_by_sql('SELECT count(t.id) as total, c.id, c.nome FROM cidades as c, teatros as t, espetaculos as e WHERE t.cidade_id = c.id AND e.teatro_id = t.id AND e.ativo = 1 GROUP BY t.cidade_id ORDER BY total DESC')
  if @cidade.blank? or params[:cidade]=='Todas as cidades'
    gen = Genero.find(:all,
                          :select => "count(1) as total, generos.nome",
                          :conditions => "espetaculos.ativo = 1",
                          :joins => "INNER JOIN espetaculos ON espetaculos.genero_id = generos.id",
                          :group => 'generos.id',
                          :order => 'total DESC')
  else
    if @conjuntocidade 
      ccid = ConjuntoCidade.find(:all, :include => :cidades, :order => :nome)
      ccid.each_with_index do |cc, i|
        cids = cc.cidades.map{|c| "#{c.id},"}.to_s+"0"
        ccid[i].total = Espetaculo.find(:first,
                                        :select => "count(espetaculos.id) as total",
                                        :joins => ["INNER JOIN teatros ON espetaculos.teatro_id = teatros.id",
                                                   "INNER JOIN cidades ON cidades.id = teatros.cidade_id"],
                                        :conditions => "espetaculos.ativo = 1 AND cidades.id IN (#{cids})").total.to_i
      end
      gen = Genero.find(:all,
                        :select => "count(1) as total, generos.nome",
                        :conditions => ["espetaculos.ativo = 1"],
                        :joins => ["INNER JOIN espetaculos ON espetaculos.genero_id = generos.id",
                                   "INNER JOIN teatros ON espetaculos.teatro_id = teatros.id",
                                   "INNER JOIN cidades ON cidades.id = teatros.cidade_id AND cidades.id in (#{@cids})"],
                        :group => 'generos.id',
                        :order => 'total DESC')
    else
      gen = Genero.find(:all,
                        :select => "count(1) as total, generos.nome",
                        :conditions => ["espetaculos.ativo = 1 AND cidades.nome = ?",@cidade.nome],
                        :joins => ["INNER JOIN espetaculos ON espetaculos.genero_id = generos.id",
                                   "INNER JOIN teatros ON espetaculos.teatro_id = teatros.id",
                                   "INNER JOIN cidades ON cidades.id = teatros.cidade_id"],
                        :group => 'generos.id',
                        :order => 'total DESC')
    end
  end
-%>
        <div id="buscaCidade" class="menu_busca geral container cidade">
          <div class="centraliza">
            <a href="/espetaculos?cidade=Todas as cidades"<%=" class='ativo'" if params[:cidade]=='Todas as cidades'%>>Todas as cidades</a>
              <% for cidade in cid -%>
                <a href="/espetaculos?cidade=<%=cidade.nome%><%= "&ordem=#{lparam(params[:ordem])}" if params[:ordem] %>" class="<%='ativo' if params[:cidade]==cidade.nome%><%=' negrito' if cidade.total.to_i>=10%>"><%=cidade.nome%> <span>(<%=cidade.total%>)</span></a>
              <% end -%>
          </div>
        </div>
        <div id="buscaGenero" class="menu_busca geral container genero">
          <div class="centraliza">
            <a href="/espetaculos?cidade=<%= @cidade.blank? ? 'Todas as cidades':@cidade.nome %>&genero=Todos os gêneros"<%=" class='ativo'" if params[:genero]=='Todos os gêneros'%>>Todos os gêneros</a>
              <% for genero in gen -%>
              <a href="/espetaculos?<%= "cidade=#{@cidade.nome}&" if !@cidade.blank? %>genero=<%=genero.nome%><%= "&ordem=#{lparam(params[:ordem])}" if params[:ordem] %>" class="<%='ativo' if params[:genero]==genero.nome%>"><%=genero.nome%> <span>(<%=genero.total%>)</span></a>
              <% end -%>
          </div>
        </div>

        </div> <!-- fecha nvo menu -->
<% end -%>
<% else -%>
        <div id="menu_topo">
          <div class="centraliza">
            <a href="/<%= @pagina_especial.url %>" class="logo"></a>
          </div>
        </div>
<% end -%>
  </div> <!-- fecha novo_menu -->
  <div style="clear: both;"></div>
<% if session[:app].blank? -%>
    <div class="baixe_app">
      <div class="baixe_app_close">X</div>
      <div class="baixe_app_close navegar"></div>
    </div>
<% end -%>

<div id="mainSlider" class="ciSlider bn2">
        <ul>
          <li data-showtime="7">
              <a href="/mamonas.html"></a>
              <div class="img" style="background-image: url(/images/cislider/mamonas.jpg)"></div>
              <div class="sliderTitulo">Musical dos Mamonas</div>
          </li>
          <li data-showtime="1">
              <a href="/divaz.html"></a>
              <div class="img" style="background-image: url(/images/cislider/divazz.jpg)"></div>
              <div class="sliderTitulo">Divazz</div>
          </li>
          <li data-showtime="2">
              <a href="/sorte.html"></a>
              <div class="img" style="background-image: url(/images/cislider/sorte.jpg)"></div>
              <div class="sliderTitulo">Até que a sorte nos separe</div>
          </li>
        </ul>
    </div>
    <div id="sSlider" class="ciSlider bn3">
        <ul>
            <li data-showtime="3">
                <a href="#PaginaDeLink"></a>
                <div class="img" style="background-image: url(/images/cislider/bn_mn1.png)"></div>
                <div class="sliderTitulo">Notícias Populares Lorem ipsum dolro sit amet consectetur adisping elit</div>
            </li>
            <li data-showtime="3">
                <a href="#PaginaDeLink"></a>
                <div class="img" style="background-image: url(/images/cislider/bn_mn2.png)"></div>
                <div class="sliderTitulo">Beatles</div>
            </li>
            <li data-showtime="3">
                <a href="#PaginaDeLink"></a>
                <div class="img" style="background-image: url(/images/cislider/bn_mn3.png)"></div>
                <div class="sliderTitulo">Terça Insana</div>
            </li>
        </ul>
    </div>

    <div id="pai">
    	<div id="background_holder">
    <script>

        $(document).ready(function () {
          CISlider('mainSlider',{ slideTo: 'right' });
          CISlider('sSlider');
        });
    </script>

    <div class="cleaner"></div>
      <%= yield %>
    </div>
    
      <%= render :partial => 'layouts/footer' %>
  	</div>
    <!-- Chat do FreshDesk comentado porque o mesmo está desabilitado -->
  	<!-- <script type='text/javascript'>var fc_CSS=document.createElement('link');fc_CSS.setAttribute('rel','stylesheet');var isSecured = (window.location && window.location.protocol == 'https:');var lang = document.getElementsByTagName('html')[0].getAttribute('lang'); var rtlLanguages = ['ar','he']; var rtlSuffix = (rtlLanguages.indexOf(lang) >= 0) ? '-rtl' : '';fc_CSS.setAttribute('type','text/css');fc_CSS.setAttribute('href',((isSecured)? 'https://d36mpcpuzc4ztk.cloudfront.net':'http://assets1.chat.freshdesk.com')+'/css/visitor'+rtlSuffix+'.css');document.getElementsByTagName('head')[0].appendChild(fc_CSS);var fc_JS=document.createElement('script'); fc_JS.type='text/javascript';fc_JS.src=((isSecured)?'https://d36mpcpuzc4ztk.cloudfront.net':'http://assets.chat.freshdesk.com')+'/js/visitor.js';(document.body?document.body:document.getElementsByTagName('head')[0]).appendChild(fc_JS);window.freshchat_setting= 'eyJ3aWRnZXRfc2l0ZV91cmwiOiJjb21wcmVpbmdyZXNzb3MuZnJlc2hkZXNrLmNvbSIsInByb2R1Y3RfaWQiOm51bGwsIm5hbWUiOiJDT01QUkVJTkdSRVNTT1MiLCJ3aWRnZXRfZXh0ZXJuYWxfaWQiOm51bGwsIndpZGdldF9pZCI6IjkwNGU4MWU1LWUwNjQtNDlmNy04YjcwLWNhZjJkZjdmZjE2NSIsInNob3dfb25fcG9ydGFsIjpmYWxzZSwicG9ydGFsX2xvZ2luX3JlcXVpcmVkIjpmYWxzZSwiaWQiOjgwMDAwMDEwMDEsIm1haW5fd2lkZ2V0Ijp0cnVlLCJmY19pZCI6IjYzN2IwYjc5OWI3ZDZlM2ZlOTk4ZTcxMjJmNDg2MWZmIiwic2hvdyI6MSwicmVxdWlyZWQiOjIsImhlbHBkZXNrbmFtZSI6IkNPTVBSRUlOR1JFU1NPUyIsIm5hbWVfbGFiZWwiOiJOb21lIiwibWFpbF9sYWJlbCI6IkUtbWFpbCIsIm1lc3NhZ2VfbGFiZWwiOiJNZW5zYWdlbSIsInBob25lX2xhYmVsIjoiVGVsZWZvbmUiLCJ0ZXh0ZmllbGRfbGFiZWwiOiJDYW1wbyBkZSB0ZXh0byIsImRyb3Bkb3duX2xhYmVsIjoiTWVudSBzdXNwZW5zbyIsIndlYnVybCI6ImNvbXByZWluZ3Jlc3Nvcy5mcmVzaGRlc2suY29tIiwibm9kZXVybCI6ImNoYXQuZnJlc2hkZXNrLmNvbSIsImRlYnVnIjoxLCJtZSI6IkV1IiwiZXhwaXJ5IjowLCJlbnZpcm9ubWVudCI6InByb2R1Y3Rpb24iLCJkZWZhdWx0X3dpbmRvd19vZmZzZXQiOjMwLCJkZWZhdWx0X21heGltaXplZF90aXRsZSI6IkNoYXQgZW0gYW5kYW1lbnRvIiwiZGVmYXVsdF9taW5pbWl6ZWRfdGl0bGUiOiJWYW1vcyBjb252ZXJzYXIhIiwiZGVmYXVsdF90ZXh0X3BsYWNlIjoiU3VhIG1lbnNhZ2VtIiwiZGVmYXVsdF9jb25uZWN0aW5nX21zZyI6IkFndWFyZGFuZG8gdW0gYW5hbGlzdGEiLCJkZWZhdWx0X3dlbGNvbWVfbWVzc2FnZSI6Ik9sw6EhIENvbW8gcG9zc28gYWp1ZGFyIHZvY8OqIGhvamU/IiwiZGVmYXVsdF93YWl0X21lc3NhZ2UiOiJVbSBkZSBub3Nzb3MgYW5hbGlzdGFzIGF0ZW5kZXLDoSB2b2PDqiBlbSBpbnN0YW50ZXMuIiwiZGVmYXVsdF9hZ2VudF9qb2luZWRfbXNnIjoie3thZ2VudF9uYW1lfX0gZW50cm91IG5vIGNoYXQiLCJkZWZhdWx0X2FnZW50X2xlZnRfbXNnIjoie3thZ2VudF9uYW1lfX0gc2FpdSBkbyBjaGF0IiwiZGVmYXVsdF9hZ2VudF90cmFuc2Zlcl9tc2dfdG9fdmlzaXRvciI6IlNldSBjaGF0IGZvaSB0cmFuc2ZlcmlkbyBwYXJhIHt7YWdlbnRfbmFtZX19IiwiZGVmYXVsdF90aGFua19tZXNzYWdlIjoiT2JyaWdhZG8gcG9yIGNvbnZlcnNhciBjb25vc2NvLiBTZSB0aXZlciBvdXRyYXMgcGVyZ3VudGFzLCBlbnRyZSBlbSBjb250YXRvISIsImRlZmF1bHRfbm9uX2F2YWlsYWJpbGl0eV9tZXNzYWdlIjoiVG9kb3Mgb3Mgbm9zc29zIGFuYWxpc3RhcyBlc3TDo28gb2N1cGFkb3MuIERlaXhlIGEgc3VhIG1lbnNhZ2VtIGUgZW50cmFyZW1vcyBlbSBjb250YXRvIG8gbWFpcyBicmV2ZSBwb3Nzw612ZWwuIiwiZGVmYXVsdF9wcmVjaGF0X21lc3NhZ2UiOiJFc3RhbW9zIGFuc2lvc29zIHBhcmEgZmFsYXIgY29tIHZvY8OqLiBNYXMsIHByaW1laXJvLCBmYWxlIHVtIHBvdWNvIHNvYnJlIHZvY8OqLiIsImFnZW50X3RyYW5zZmVyZWRfbXNnIjoiU2V1IGNoYXQgZm9pIHRyYW5zZmVyaWRvIHBhcmEge3thZ2VudF9uYW1lfX0iLCJhZ2VudF9yZW9wZW5fY2hhdF9tc2ciOiJ7e2FnZW50X25hbWV9fSByZWFicml1IG8gY2hhdCIsInZpc2l0b3Jfc2lkZV9pbmFjdGl2ZV9tc2ciOiJFc3RlIGNoYXQgZXN0ZXZlIGluYXRpdm8gbm9zIMO6bHRpbW9zIDIwIG1pbnV0b3MuIiwiYWdlbnRfZGlzY29ubmVjdF9tc2ciOiJ7e2FnZW50X25hbWV9fSBmb2kgZGVzY29uZWN0YWRvIiwic2l0ZV9pZCI6IjYzN2IwYjc5OWI3ZDZlM2ZlOTk4ZTcxMjJmNDg2MWZmIiwiYWN0aXZlIjp0cnVlLCJ3aWRnZXRfcHJlZmVyZW5jZXMiOnsid2luZG93X2NvbG9yIjoiI0EyMTYxQiIsIndpbmRvd19wb3NpdGlvbiI6IkJvdHRvbSBSaWdodCIsIndpbmRvd19vZmZzZXQiOiI1MCIsInRleHRfcGxhY2UiOiJTdWEgbWVuc2FnZW0iLCJjb25uZWN0aW5nX21zZyI6IkFndWFyZGFuZG8gdW0gYW5hbGlzdGEiLCJhZ2VudF9sZWZ0X21zZyI6Int7YWdlbnRfbmFtZX19IHNhaXUgZG8gY2hhdCIsImFnZW50X2pvaW5lZF9tc2ciOiJ7e2FnZW50X25hbWV9fSBlbnRyb3Ugbm8gY2hhdCIsIm1pbmltaXplZF90aXRsZSI6IlZhbW9zIGNvbnZlcnNhciEiLCJtYXhpbWl6ZWRfdGl0bGUiOiJDaGF0IGVtIGFuZGFtZW50byIsIndlbGNvbWVfbWVzc2FnZSI6Ik9sw6EhIENvbW8gcG9zc28gYWp1ZGFyIHZvY8OqIGhvamU/IiwidGhhbmtfbWVzc2FnZSI6Ik9icmlnYWRvIHBvciBjb252ZXJzYXIgY29ub3Njby4gU2UgdGl2ZXIgb3V0cmFzIHBlcmd1bnRhcywgZW50cmUgZW0gY29udGF0byEiLCJ3YWl0X21lc3NhZ2UiOiJVbSBkZSBub3Nzb3MgYW5hbGlzdGFzIGF0ZW5kZXLDoSB2b2PDqiBlbSBpbnN0YW50ZXMuIiwiYWdlbnRfdHJhbnNmZXJfbXNnX3RvX3Zpc2l0b3IiOiJTZXUgY2hhdCBmb2kgdHJhbnNmZXJpZG8gcGFyYSB7e2FnZW50X25hbWV9fSJ9LCJyb3V0aW5nIjpudWxsLCJwcmVjaGF0X2Zvcm0iOnRydWUsInByZWNoYXRfbWVzc2FnZSI6IkVzdGFtb3MgYW5zaW9zb3MgcGFyYSBmYWxhciBjb20gdm9jw6ouIE1hcywgcHJpbWVpcm8sIGZhbGUgdW0gcG91Y28gc29icmUgdm9jw6ouIiwicHJlY2hhdF9maWVsZHMiOnsibmFtZSI6eyJ0aXRsZSI6Ik5vbWUiLCJzaG93IjoiMiJ9LCJlbWFpbCI6eyJ0aXRsZSI6IkUtbWFpbCIsInNob3ciOiIyIn0sInBob25lIjp7InRpdGxlIjoiVGVsZWZvbmUiLCJzaG93IjoiMiJ9LCJ0ZXh0ZmllbGQiOnsidGl0bGUiOiJDYW1wbyBkZSB0ZXh0byJ9LCJkcm9wZG93biI6eyJ0aXRsZSI6Ik1lbnUgc3VzcGVuc28iLCJvcHRpb25zIjpbImxpc3QxIiwibGlzdDIiLCJsaXN0MyJdfX0sImJ1c2luZXNzX2NhbGVuZGFyIjp7ImhvbGlkYXlfZGF0YSI6WyJKYW4gMSIsIk5ldyBZZWFyJ3MgRGF5IiwiRmViIDE0IiwiQ2Fybml2YWwgU2F0dXJkYXkiLCJGZWIgMTUiLCJDYXJuaXZhbCBTdW5kYXkiLCJGZWIgMTYiLCJDYXJuaXZhbCBNb25kYXkiLCJGZWIgMTciLCJDYXJuaXZhbCBUdWVzZGF5IiwiRmViIDE4IiwiQ2Fybml2YWwgZW5kICh1bnRpbCAycG0pIiwiQXByIDMiLCJHb29kIEZyaWRheSIsIkFwciA1IiwiRWFzdGVyIFN1bmRheSIsIkFwciAyMSIsIlRpcmFkZW50ZXMgRGF5IiwiTWF5IDEiLCJMYWJvciBEYXkgLyBNYXkgRGF5IiwiTWF5IDEwIiwiTW90aGVyJ3MgRGF5IiwiSnVuIDQiLCJDb3JwdXMgQ2hyaXN0aSIsIkp1biAxMiIsIkxvdmVycycgRGF5IiwiQXVnIDkiLCJGYXRoZXIncyBEYXkiLCJTZXAgNyIsIkluZGVwZW5kZW5jZSBEYXkiLCJPY3QgMTIiLCJPdXIgTGFkeSBBcGFyZWNpZGEvQ2hpbGRyZW4ncyBEYXkiLCJPY3QgMTUiLCJUZWFjaGVycycgRGF5IiwiT2N0IDI4IiwiUHVibGljIFNlcnZpY2UgSG9saWRheSIsIk5vdiAyIiwiQWxsIFNvdWxzIERheSIsIk5vdiAxNSIsIlJlcHVibGljIFByb2NsYW1hdGlvbiBEYXkiLCJOb3YgMjAiLCJCbGFjayBDb25zY2lvdXNuZXNzIERheSIsIkRlYyAyNCIsIkNocmlzdG1hcyBFdmUgKGZyb20gMnBtKSIsIkRlYyAyNSIsIkNocmlzdG1hcyBEYXkiLCJEZWMgMzEiLCJOZXcgWWVhcidzIEV2ZSAoZnJvbSAycG0pIl0sInRpbWVfem9uZSI6IkJyYXNpbGlhIiwiYnVzaW5lc3NfdGltZV9kYXRhIjp7IndlZWtkYXlzIjpbIjEiLCIyIiwiMyIsIjQiLCI1IiwiNiIsIjAiXSwiZnVsbHdlZWsiOiJmYWxzZSIsIndvcmtpbmdfaG91cnMiOlt7ImJlZ2lubmluZ19vZl93b3JrZGF5IjoiOTowMCBhbSIsImVuZF9vZl93b3JrZGF5IjoiOTowMCBwbSJ9LHsiYmVnaW5uaW5nX29mX3dvcmtkYXkiOiI5OjAwIGFtIiwiZW5kX29mX3dvcmtkYXkiOiI5OjAwIHBtIn0seyJiZWdpbm5pbmdfb2Zfd29ya2RheSI6Ijk6MDAgYW0iLCJlbmRfb2Zfd29ya2RheSI6Ijk6MDAgcG0ifSx7ImJlZ2lubmluZ19vZl93b3JrZGF5IjoiOTowMCBhbSIsImVuZF9vZl93b3JrZGF5IjoiOTowMCBwbSJ9LHsiYmVnaW5uaW5nX29mX3dvcmtkYXkiOiI5OjAwIGFtIiwiZW5kX29mX3dvcmtkYXkiOiI5OjAwIHBtIn0seyJiZWdpbm5pbmdfb2Zfd29ya2RheSI6Ijk6MDAgYW0iLCJlbmRfb2Zfd29ya2RheSI6Ijk6MDAgcG0ifSx7ImJlZ2lubmluZ19vZl93b3JrZGF5IjoiOTowMCBhbSIsImVuZF9vZl93b3JrZGF5IjoiOTowMCBwbSJ9XX19LCJub25fYXZhaWxhYmlsaXR5X21lc3NhZ2UiOnsidGV4dCI6IlRvZG9zIG9zIG5vc3NvcyBhbmFsaXN0YXMgZXN0w6NvIG9jdXBhZG9zLiBEZWl4ZSBhIHN1YSBtZW5zYWdlbSBlIGVudHJhcmVtb3MgZW0gY29udGF0byBvIG1haXMgYnJldmUgcG9zc8OtdmVsLiIsImN1c3RvbUxpbmsiOiIwIiwiY3VzdG9tTGlua1VybCI6IiJ9LCJwcm9hY3RpdmVfY2hhdCI6dHJ1ZSwicHJvYWN0aXZlX3RpbWUiOjEyMCwic2l0ZV91cmwiOiJjb21wcmVpbmdyZXNzb3MuZnJlc2hkZXNrLmNvbSIsImV4dGVybmFsX2lkIjpudWxsLCJkZWxldGVkIjpmYWxzZSwib2ZmbGluZV9jaGF0Ijp7InNob3ciOiIxIiwiZm9ybSI6eyJuYW1lIjoiTm9tZSIsImVtYWlsIjoiRS1tYWlsIiwibWVzc2FnZSI6Ik1lbnNhZ2VtIn0sIm1lc3NhZ2VzIjp7InRpdGxlIjoiRGVpeGUgdW1hIG1lbnNhZ2VtIHBhcmEgbsOzcyEiLCJ0aGFuayI6IkFncmFkZWNlbW9zIGEgc3VhIG1lbnNhZ2VtLiBFbnRyYXJlbW9zIGVtIGNvbnRhdG8gY29tIHZvY8OqIGVtIGJyZXZlLiIsInRoYW5rX2hlYWRlciI6Ik9icmlnYWRvISJ9fSwibW9iaWxlIjp0cnVlLCJjcmVhdGVkX2F0IjoiMjAxNS0wOS0xM1QwMjo0NjoxMy4wMDBaIiwidXBkYXRlZF9hdCI6IjIwMTUtMTAtMTVUMTY6MzQ6NDcuMDAwWiJ9';</script> -->
    </body>
</html>